<%- include('partials/header') -%> 

<h1>Home</h1>

<p><%= startingContent  %> </p>


<% myPosts.forEach(function (x) { %> 
    <h1> <%= x.title%>  </h1> 
    <p> <%= x.body.substring(0,120) + "..."  %> 
        <a href="/posts/<%=x.title%>">Read More</a></p>

    
<%})%>   
<%- include('partials/footer') -%>  