<%- include('partials/header') -%> 

<h1>Home</h1>

<p><%= startingContent  %> </p>


<% myPosts.forEach(function (x) { %> 
    <h1> <%= x.postTitle %>  </h1> 
    <p> <%= x.body %>  </p>
    
<%})%>   
<%- include('partials/footer') -%>  